### Importing data and libraries

In [12]:
import numpy as np
import pandas as pd
import networkx as nx

In [13]:
mta_stations = pd.read_csv('data/MTA_Stations.csv')
mta_stations.head()

,GTFS Stop ID,Station ID,Complex ID,Division,Line,Stop Name,Borough,CBD,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Northbound,ADA Southbound,ADA Notes,Georeference
0,R01,1,1,BMT,Astoria,Astoria-Ditmars Blvd,Q,False,N W,Elevated,40.775036,-73.912034,Last Stop,Manhattan,0,0,0,NaN,POINT (-73.912034 40.775036)
1,R03,2,2,BMT,Astoria,Astoria Blvd,Q,False,N W,Elevated,40.770258,-73.917843,Astoria,Manhattan,1,1,1,NaN,POINT (-73.917843 40.770258)
2,R04,3,3,BMT,Astoria,30 Av,Q,False,N W,Elevated,40.766779,-73.921479,Astoria,Manhattan,0,0,0,NaN,POINT (-73.921479 40.766779)
3,R05,4,4,BMT,Astoria,Broadway,Q,False,N W,Elevated,40.761820,-73.925508,Astoria,Manhattan,0,0,0,NaN,POINT (-73.925508 40.76182)
4,R06,5,5,BMT,Astoria,36 Av,Q,False,N W,Elevated,40.756804,-73.929575,Astoria,Manhattan,0,0,0,NaN,POINT (-73.929575 40.756804)

In [14]:
mta_rides = pd.read_csv('data/MTA_Passengers.csv')
mta_rides.head()

,Year,Month,Day of Week,Hour of Day,Timestamp,Origin Station Complex ID,Origin Station Complex Name,Origin Latitude,Origin Longitude,Destination Station Complex ID,Destination Station Complex Name,Destination Latitude,Destination Longitude,Estimated Average Ridership,Origin Point,Destination Point
0,2024,1,Monday,1,01/08/2024 01:00:00 AM,26,"DeKalb Av (B,Q,R)",40.690635,-73.981824,355,"Winthrop St (2,5)",40.656652,-73.950200,0.5556,POINT (-73.981824 40.690635),POINT (-73.9502 40.656652)
1,2024,1,Monday,1,01/08/2024 01:00:00 AM,231,"Grand St (B,D)",40.718267,-73.993753,284,Nassau Av (G),40.724635,-73.951277,0.3068,POINT (-73.993753 40.718267),POINT (-73.951277 40.724635)
2,2024,1,Monday,1,01/08/2024 01:00:00 AM,313,"72 St (1,2,3)",40.778453,-73.981970,71,8 Av (N),40.635064,-74.011719,0.3012,POINT (-73.98197 40.778453),POINT (-74.011719 40.635064)
3,2024,1,Monday,1,01/08/2024 01:00:00 AM,320,23 St (1),40.744081,-73.995657,309,103 St (1),40.799446,-73.968379,0.9000,POINT (-73.995657 40.744081),POINT (-73.968379 40.799446)
4,2024,1,Monday,1,01/08/2024 01:00:00 AM,399,68 St-Hunter College (6),40.768141,-73.963870,618,"14 St (A,C,E)/8 Av (L)",40.740335,-74.002134,0.2940,POINT (-73.96387 40.768141),POINT (-74.002134 40.740335)

In [15]:
G = nx.Graph()

### Prompt

How should you approach solving this problem?

To create a graph-based representation of the data, you may start considering the
following:
1. Nodes: MTA Subway Stations
2. Edges: Source and destination pairs of Ridership
3. Edge types: Directed? weighted? Self-loops?
4. Node attributes: What are the relevant information from the MTA Subway Stations
dataset, which will help you do the analysis: Station type, CBD status, and ADA
accessibility status, Train routes, GPS locations, Borough information?
5. Edge attributes: What are the relevant information from the MTA Subway Origin-
Destination Ridership Estimate dataset will be of help? Passenger volume, day of the
week, and hour of day?

Once youâ€™re able to represent this data, as part of graph-based representation, you are
expected to develop queries on the graph-based representation which should return the
following:
1) What are the top 5 origin sub-way stations from where most riders took subway ride:
    1. a. Across each borough (Manhattan, Brooklyn, Queens, Bronx, State Island)
    2. b. On Monday, Tuesday, Wednesday (combined)
    3. c. On Saturday and Sunday (combined)
    4. d. Between 1am-5am across all days and boroughs
    5. e. Between 6am-9am across all days and boroughs
2) What are the top 5 destination sub-way stations from where most riders took subway ride:
    1. a. Across each borough (Manhattan, Brooklyn, Queens, Bronx, State Island)
    2. b. On Thursday and Friday (combined)
    3. c. On Saturday only
    4. d. Between 12am-5am across all days and boroughs
    5. e. Between 6pm-9pm across all days and boroughs
3) What are the top 10 congested source-destination sub-way stations pair on:
    1. Monday between 1pm-2pm?
    2. On Queens borough, on Fridays between 6pm-9pm?
    3. On Brooklyn borough, Ridership between 1am-5am?
    4. Source is Brooklyn, Destination is Manhattan, Monday-Thursday 6am-7am?
    5. Source is Bronx, Destination is Manhattan, Monday-Thursday 6am-7am?
    6. Source is Staten Island, Destination is Manhattan, Monday-Thursday 6am-7am?