In [198]:
import numpy as np
import pandas as pd
import networkx as nx

In [199]:
mta_stations = pd.read_csv('data/MTA_Stations.csv')
mta_stations.head()

,GTFS Stop ID,Station ID,Complex ID,Division,Line,Stop Name,Borough,CBD,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Northbound,ADA Southbound,ADA Notes,Georeference
0,R01,1,1,BMT,Astoria,Astoria-Ditmars Blvd,Q,False,N W,Elevated,40.775036,-73.912034,Last Stop,Manhattan,0,0,0,NaN,POINT (-73.912034 40.775036)
1,R03,2,2,BMT,Astoria,Astoria Blvd,Q,False,N W,Elevated,40.770258,-73.917843,Astoria,Manhattan,1,1,1,NaN,POINT (-73.917843 40.770258)
2,R04,3,3,BMT,Astoria,30 Av,Q,False,N W,Elevated,40.766779,-73.921479,Astoria,Manhattan,0,0,0,NaN,POINT (-73.921479 40.766779)
3,R05,4,4,BMT,Astoria,Broadway,Q,False,N W,Elevated,40.761820,-73.925508,Astoria,Manhattan,0,0,0,NaN,POINT (-73.925508 40.76182)
4,R06,5,5,BMT,Astoria,36 Av,Q,False,N W,Elevated,40.756804,-73.929575,Astoria,Manhattan,0,0,0,NaN,POINT (-73.929575 40.756804)

In [200]:
mta_stations = mta_stations[['Complex ID','Stop Name','Station ID','Borough']]
mta_stations

     Complex ID             Stop Name  Station ID Borough
0             1  Astoria-Ditmars Blvd           1       Q
1             2          Astoria Blvd           2       Q
2             3                 30 Av           3       Q
3             4              Broadway           4       Q
4             5                 36 Av           5       Q
..          ...                   ...         ...     ...
491         517          Prince's Bay         517      SI
492         518       Pleasant Plains         518      SI
493         519       Richmond Valley         519      SI
494         522           Tottenville         522      SI
495         523           Arthur Kill         523      SI

[496 rows x 4 columns]

In [201]:
mta_rides = pd.read_csv('data/MTA_Passengers.csv')
mta_rides.head()

,Year,Month,Day of Week,Hour of Day,Timestamp,Origin Station Complex ID,Origin Station Complex Name,Origin Latitude,Origin Longitude,Destination Station Complex ID,Destination Station Complex Name,Destination Latitude,Destination Longitude,Estimated Average Ridership,Origin Point,Destination Point
0,2024,1,Monday,1,01/08/2024 01:00:00 AM,26,"DeKalb Av (B,Q,R)",40.690635,-73.981824,355,"Winthrop St (2,5)",40.656652,-73.950200,0.5556,POINT (-73.981824 40.690635),POINT (-73.9502 40.656652)
1,2024,1,Monday,1,01/08/2024 01:00:00 AM,231,"Grand St (B,D)",40.718267,-73.993753,284,Nassau Av (G),40.724635,-73.951277,0.3068,POINT (-73.993753 40.718267),POINT (-73.951277 40.724635)
2,2024,1,Monday,1,01/08/2024 01:00:00 AM,313,"72 St (1,2,3)",40.778453,-73.981970,71,8 Av (N),40.635064,-74.011719,0.3012,POINT (-73.98197 40.778453),POINT (-74.011719 40.635064)
3,2024,1,Monday,1,01/08/2024 01:00:00 AM,320,23 St (1),40.744081,-73.995657,309,103 St (1),40.799446,-73.968379,0.9000,POINT (-73.995657 40.744081),POINT (-73.968379 40.799446)
4,2024,1,Monday,1,01/08/2024 01:00:00 AM,399,68 St-Hunter College (6),40.768141,-73.963870,618,"14 St (A,C,E)/8 Av (L)",40.740335,-74.002134,0.2940,POINT (-73.96387 40.768141),POINT (-74.002134 40.740335)

In [202]:
mta_rides = mta_rides[['Day of Week','Hour of Day','Estimated Average Ridership','Origin Station Complex ID','Destination Station Complex ID']]
mta_rides

,Day of Week,Hour of Day,Estimated Average Ridership,Origin Station Complex ID,Destination Station Complex ID
0,Monday,1,0.5556,26,355
1,Monday,1,0.3068,231,284
2,Monday,1,0.3012,313,71
3,Monday,1,0.9000,320,309
4,Monday,1,0.2940,399,618
...,...,...,...,...,...
9169120,Sunday,12,0.3322,426,379
9169121,Sunday,12,0.7305,427,613
9169122,Sunday,12,0.3130,32,263
9169123,Sunday,12,0.8602,324,407
9169124,Sunday,12,0.9110,606,145

In [203]:
G = nx.MultiDiGraph

In [204]:
G = nx.from_pandas_edgelist(mta_rides, source='Origin Station Complex ID', target='Destination Station Complex ID', 
                     edge_attr= True,
                     create_using=G, edge_key=None)

In [205]:
for _, row in mta_stations.iterrows():
    complex_id = row['Complex ID']
    attributes = row.to_dict()
    G.add_node(complex_id, **attributes)

### Prompt

Once you’re able to represent this data, as part of graph-based representation, you are
expected to develop queries on the graph-based representation which should return the
following:
1) What are the top 5 origin sub-way stations from where most riders took subway ride:
    1. a. Across each borough (Manhattan, Brooklyn, Queens, Bronx, State Island)
    2. b. On Monday, Tuesday, Wednesday (combined)
    3. c. On Saturday and Sunday (combined)
    4. d. Between 1am-5am across all days and boroughs
    5. e. Between 6am-9am across all days and boroughs
2) What are the top 5 destination sub-way stations from where most riders took subway ride:
    1. a. Across each borough (Manhattan, Brooklyn, Queens, Bronx, State Island)
    2. b. On Thursday and Friday (combined)
    3. c. On Saturday only
    4. d. Between 12am-5am across all days and boroughs
    5. e. Between 6pm-9pm across all days and boroughs
3) What are the top 10 congested source-destination sub-way stations pair on:
    1. Monday between 1pm-2pm?
    2. On Queens borough, on Fridays between 6pm-9pm?
    3. On Brooklyn borough, Ridership between 1am-5am?
    4. Source is Brooklyn, Destination is Manhattan, Monday-Thursday 6am-7am?
    5. Source is Bronx, Destination is Manhattan, Monday-Thursday 6am-7am?
    6. Source is Staten Island, Destination is Manhattan, Monday-Thursday 6am-7am?

### 1a:

In [206]:
avg_ridership_per_station = {}

for node in G.nodes:
    edges = G.edges(node, data=True)
    
    riderships = [data.get('Estimated Average Ridership', 0) for _, _, data in edges]
    if riderships:
        avg_ridership_per_station[node] = sum(riderships)
    else:
        avg_ridership_per_station[node] = 0
        
stations_by_borough = {}

for node, data in G.nodes(data=True):
    borough = data.get('Borough')
    if borough not in stations_by_borough:
        stations_by_borough[borough] = []
    stations_by_borough[borough].append((node, avg_ridership_per_station[node]))
    
top_stations_per_borough = {}

for borough, stations in stations_by_borough.items():
    top_stations = sorted(stations, key=lambda x: x[1], reverse=True)[:5]
    top_stations_per_borough[borough] = top_stations
    
for borough, stations in top_stations_per_borough.items():
    print('Top 5 stations in '+ borough + ':')
    for station, ridership in stations:
        print("Station ID: " + str(station))
    print()

Top 5 stations in Bk:
Station ID: 617
Station ID: 120
Station ID: 636
Station ID: 620
Station ID: 345

Top 5 stations in M:
Station ID: 611
Station ID: 610
Station ID: 607
Station ID: 602
Station ID: 164

Top 5 stations in Bx:
Station ID: 604
Station ID: 434
Station ID: 366
Station ID: 382
Station ID: 371

Top 5 stations in Q:
Station ID: 616
Station ID: 447
Station ID: 450
Station ID: 279
Station ID: 451

Top 5 stations in SI:
Station ID: 501
Station ID: 502
Station ID: 503
Station ID: 504
Station ID: 505

### 1b:

In [207]:
days = {'Monday', 'Tuesday', 'Wednesday'}

total_ridership_per_station = {}

for node in G.nodes:
    edges = G.edges(node, data=True)
    riderships = [
        data.get('Estimated Average Ridership', 0) for _, _, data in edges if data.get('Day of Week') in days]
    total_ridership_per_station[node] = sum(riderships)
top_5_stations = sorted(total_ridership_per_station.items(), key=lambda x: x[1],reverse=True)[:5]
for station, ridership in top_5_stations:
    print('Station ID: ' + str(station))

Station ID: 611
Station ID: 610
Station ID: 607
Station ID: 602
Station ID: 628

### 1c:

In [208]:
days = {'Saturday', 'Sunday'}

total_ridership_per_station = {}

for node in G.nodes:
    edges = G.edges(node, data=True)
    riderships = [
        data.get('Estimated Average Ridership', 0) for _, _, data in edges if data.get('Day of Week') in days]
    total_ridership_per_station[node] = sum(riderships)
top_5_stations = sorted(total_ridership_per_station.items(), key=lambda x: x[1],reverse=True)[:5]
for station, ridership in top_5_stations:
    print('Station ID: ' + str(station))

Station ID: 611
Station ID: 607
Station ID: 610
Station ID: 602
Station ID: 164

### 1d:

In [209]:
hours = {1,2,3,4,5}

total_ridership_per_station = {}

for node in G.nodes:
    edges = G.edges(node, data=True)
    riderships = [
        data.get('Estimated Average Ridership', 0) for _, _, data in edges if data.get('Hour of Day') in hours]
    total_ridership_per_station[node] = sum(riderships)
top_5_stations = sorted(total_ridership_per_station.items(), key=lambda x: x[1],reverse=True)[:5]
for station, ridership in top_5_stations:
    print('Station ID: ' + str(station))

Station ID: 611
Station ID: 616
Station ID: 447
Station ID: 450
Station ID: 278

### 1e:

In [210]:
hours = {6,7,8,9}

total_ridership_per_station = {}

for node in G.nodes:
    edges = G.edges(node, data=True)
    riderships = [
        data.get('Estimated Average Ridership', 0) for _, _, data in edges if data.get('Hour of Day') in hours]
    total_ridership_per_station[node] = sum(riderships)
top_5_stations = sorted(total_ridership_per_station.items(), key=lambda x: x[1],reverse=True)[:5]
for station, ridership in top_5_stations:
    print('Station ID: ' + str(station))

Station ID: 611
Station ID: 610
Station ID: 616
Station ID: 318
Station ID: 447

### 2a:

In [211]:
ridership_per_station = {}

for _, destination, data in G.edges(data=True):
    ridership = data.get('Estimated Average Ridership', 0)
    
    if destination in ridership_per_station:
        ridership_per_station[destination] += ridership
    else:
        ridership_per_station[destination] = ridership
        
stations_by_borough = {}

for node, data in G.nodes(data=True):
    borough = data.get('Borough')
    if borough not in stations_by_borough:
        stations_by_borough[borough] = []
    ridership = ridership_per_station.get(node, 0)
    stations_by_borough[borough].append((node, ridership))
    
top_stations_per_borough = {}

for borough, stations in stations_by_borough.items():
    top_stations = sorted(stations, key=lambda x: x[1], reverse=True)[:5]
    top_stations_per_borough[borough] = top_stations
    
for borough, stations in top_stations_per_borough.items():
    print('Top 5 stations in '+ borough + ':')
    for station, ridership in stations:
        print("Station ID: " + str(station))
    print()

Top 5 stations in Bk:
Station ID: 617
Station ID: 120
Station ID: 636
Station ID: 620
Station ID: 345

Top 5 stations in M:
Station ID: 611
Station ID: 610
Station ID: 607
Station ID: 602
Station ID: 628

Top 5 stations in Bx:
Station ID: 604
Station ID: 434
Station ID: 366
Station ID: 603
Station ID: 382

Top 5 stations in Q:
Station ID: 616
Station ID: 447
Station ID: 606
Station ID: 450
Station ID: 451

Top 5 stations in SI:
Station ID: 501
Station ID: 502
Station ID: 503
Station ID: 504
Station ID: 505

Does not apply for State Island because there are no rides in State Island.

### 2b:

In [212]:
days = {'Thursday', 'Friday'}

total_ridership_per_station = {}

for _, destination, data in G.edges(data=True):
    if data.get('Day of Week') in days:
        destination = destination
        ridership = data.get('Estimated Average Ridership', 0)

        if destination in total_ridership_per_station:
            total_ridership_per_station[destination] += ridership
        else:
            total_ridership_per_station[destination] = ridership

top_5_stations = sorted(total_ridership_per_station.items(), key=lambda x: x[1], reverse=True)[:5]

for station, ridership in top_5_stations:
        print("Station ID: " + str(station))

Station ID: 611
Station ID: 610
Station ID: 607
Station ID: 602
Station ID: 628

### 2c:

In [213]:
days = {'Saturday'}

total_ridership_per_station = {}

for _, destination, data in G.edges(data=True):
    if data.get('Day of Week') in days:
        destination = destination
        ridership = data.get('Estimated Average Ridership', 0)

        if destination in total_ridership_per_station:
            total_ridership_per_station[destination] += ridership
        else:
            total_ridership_per_station[destination] = ridership

top_5_stations = sorted(total_ridership_per_station.items(), key=lambda x: x[1], reverse=True)[:5]

for station, ridership in top_5_stations:
        print("Station ID: " + str(station))

Station ID: 611
Station ID: 607
Station ID: 602
Station ID: 610
Station ID: 164

### 2d:

In [214]:
hours = {0,1,2,3,4,5}

total_ridership_per_station = {}

for _, destination, data in G.edges(data=True):
    if data.get('Hour of Day') in hours:
        destination = destination
        ridership = data.get('Estimated Average Ridership', 0)

        if destination in total_ridership_per_station:
            total_ridership_per_station[destination] += ridership
        else:
            total_ridership_per_station[destination] = ridership

top_5_stations = sorted(total_ridership_per_station.items(), key=lambda x: x[1], reverse=True)[:5]

for station, ridership in top_5_stations:
        print("Station ID: " + str(station))

Station ID: 611
Station ID: 610
Station ID: 607
Station ID: 616
Station ID: 628

### 2e:

In [215]:
hours = {18,19,20,21}

total_ridership_per_station = {}

for _, destination, data in G.edges(data=True):
    if data.get('Hour of Day') in hours:
        destination = destination
        ridership = data.get('Estimated Average Ridership', 0)

        if destination in total_ridership_per_station:
            total_ridership_per_station[destination] += ridership
        else:
            total_ridership_per_station[destination] = ridership

top_5_stations = sorted(total_ridership_per_station.items(), key=lambda x: x[1], reverse=True)[:5]

for station, ridership in top_5_stations:
        print("Station ID: " + str(station))

Station ID: 611
Station ID: 610
Station ID: 607
Station ID: 616
Station ID: 602

### 3a:

In [216]:
congested_pairs_monday_1pm_2pm = []

for origin, destination, data in G.edges(data=True):
    ridership = data.get('Estimated Average Ridership', 0)
    day_of_week = data.get('Day of Week')
    hour = data.get('Hour of Day')

    if day_of_week == 'Monday' and hour in [13,14]:
        congested_pairs_monday_1pm_2pm.append(((origin, destination), ridership))

top_10_monday_1pm_2pm = sorted(congested_pairs_monday_1pm_2pm, key=lambda x: x[1],  reverse=True)[:10]
for (origin, destination), ridership in top_10_monday_1pm_2pm:
    print('Origin Station ID: ' + str(origin) + ', Destination: ' + str(destination))

Origin Station ID: 447, Destination: 450
Origin Station ID: 610, Destination: 611
Origin Station ID: 447, Destination: 451
Origin Station ID: 628, Destination: 610
Origin Station ID: 602, Destination: 610
Origin Station ID: 447, Destination: 616
Origin Station ID: 610, Destination: 602
Origin Station ID: 610, Destination: 602
Origin Station ID: 624, Destination: 611
Origin Station ID: 611, Destination: 610

### 3b:

In [217]:
congested_pairs_fri_queens_6_9 = defaultdict(int)

for origin, destination, data in G.edges(data=True):
    ridership = data.get('Estimated Average Ridership', 0)
    day_of_week = data.get('Day of Week')
    hour = data.get('Hour of Day')

    if day_of_week == 'Friday' and hour in [18,19,20,21]:
        origin_borough = G.nodes[origin].get('Borough')
        destination_borough = G.nodes[destination].get('Borough')

        if origin_borough == 'Q' and destination_borough == 'Q':
            congested_pairs_fri_queens_6_9[(origin, destination)] += ridership

        
top_10_congested_pairs_fri_queens_6_9 = sorted(congested_pairs_fri_queens_6_9.items(), key=lambda x: x[1],  reverse=True)[:10]
for (origin, destination), ridership in top_10_congested_pairs_fri_queens_6_9:
    print('Origin Station ID: ' + str(origin) + ', Destination: ' + str(destination))

Origin Station ID: 447, Destination: 616
Origin Station ID: 447, Destination: 450
Origin Station ID: 447, Destination: 451
Origin Station ID: 451, Destination: 447
Origin Station ID: 447, Destination: 452
Origin Station ID: 616, Destination: 447
Origin Station ID: 450, Destination: 447
Origin Station ID: 447, Destination: 449
Origin Station ID: 453, Destination: 447
Origin Station ID: 616, Destination: 254

### 3c:

In [218]:
congested_pairs_brook_1_5 = defaultdict(int)

for origin, destination, data in G.edges(data=True):
    ridership = data.get('Estimated Average Ridership', 0)
    day_of_week = data.get('Day of Week')
    hour = data.get('Hour of Day')

    if hour in [1,2,3,4,5]:
        origin_borough = G.nodes[origin].get('Borough')
        destination_borough = G.nodes[destination].get('Borough')

        if origin_borough == 'Bk' and destination_borough == 'Bk':
            congested_pairs_brook_1_5[(origin, destination)] += ridership

        
top_10_congested_pairs_brook_1_5 = sorted(congested_pairs_brook_1_5.items(), key=lambda x: x[1],  reverse=True)[:10]
for (origin, destination), ridership in top_10_congested_pairs_brook_1_5:
    print('Origin Station ID: ' + str(origin) + ', Destination: ' + str(destination))

Origin Station ID: 345, Destination: 617
Origin Station ID: 359, Destination: 617
Origin Station ID: 120, Destination: 630
Origin Station ID: 345, Destination: 620
Origin Station ID: 630, Destination: 120
Origin Station ID: 345, Destination: 337
Origin Station ID: 188, Destination: 636
Origin Station ID: 617, Destination: 32
Origin Station ID: 120, Destination: 127
Origin Station ID: 629, Destination: 630

### 3d:

In [219]:
congested_pairs_brook_man_mon_thur_6_7 = defaultdict(int)

for origin, destination, data in G.edges(data=True):
    ridership = data.get('Estimated Average Ridership', 0)
    day_of_week = data.get('Day of Week')
    hour = data.get('Hour of Day')

    if hour in [6,7] and day_of_week in ['Monday', 'Tuesday', 'Wednesday', 'Thursday']:
        origin_borough = G.nodes[origin].get('Borough')
        destination_borough = G.nodes[destination].get('Borough')

        if origin_borough == 'Bk' and destination_borough == 'M':
            congested_pairs_brook_man_mon_thur_6_7[(origin, destination)] += ridership

        
top_10_congested_pairs_brook_man_mon_thur_6_7 = sorted(congested_pairs_brook_man_mon_thur_6_7.items(), key=lambda x: x[1], reverse=True)[:10]
for (origin, destination), ridership in top_10_congested_pairs_brook_man_mon_thur_6_7:
    print('Origin Station ID: ' + str(origin) + ', Destination: ' + str(destination))

Origin Station ID: 617, Destination: 414
Origin Station ID: 345, Destination: 610
Origin Station ID: 51, Destination: 607
Origin Station ID: 620, Destination: 610
Origin Station ID: 359, Destination: 610
Origin Station ID: 345, Destination: 628
Origin Station ID: 359, Destination: 628
Origin Station ID: 120, Destination: 610
Origin Station ID: 51, Destination: 225
Origin Station ID: 54, Destination: 225

### 3e:

In [220]:
congested_pairs_bronx_man_mon_thur_6_7 = defaultdict(int)

for origin, destination, data in G.edges(data=True):
    ridership = data.get('Estimated Average Ridership', 0)
    day_of_week = data.get('Day of Week')
    hour = data.get('Hour of Day')

    if hour in [6,7] and day_of_week in ['Monday', 'Tuesday', 'Wednesday', 'Thursday']:
        origin_borough = G.nodes[origin].get('Borough')
        destination_borough = G.nodes[destination].get('Borough')

        if origin_borough == 'Bx' and destination_borough == 'M':
            congested_pairs_bronx_man_mon_thur_6_7[(origin, destination)] += ridership

        
top_10_congested_pairs_bronx_man_mon_thur_6_7 = sorted(congested_pairs_bronx_man_mon_thur_6_7.items(), key=lambda x: x[1], reverse=True)[:10]
for (origin, destination), ridership in top_10_congested_pairs_bronx_man_mon_thur_6_7:
    print('Origin Station ID: ' + str(origin) + ', Destination: ' + str(destination))

Origin Station ID: 366, Destination: 610
Origin Station ID: 366, Destination: 602
Origin Station ID: 366, Destination: 392
Origin Station ID: 366, Destination: 399
Origin Station ID: 366, Destination: 397
Origin Station ID: 366, Destination: 612
Origin Station ID: 366, Destination: 628
Origin Station ID: 366, Destination: 622
Origin Station ID: 604, Destination: 614
Origin Station ID: 378, Destination: 397

### 3f:

In [221]:
congested_pairs_si_man_mon_thur_6_7 = defaultdict(int)

for origin, destination, data in G.edges(data=True):
    ridership = data.get('Estimated Average Ridership', 0)
    day_of_week = data.get('Day of Week')
    hour = data.get('Hour of Day')

    if hour in [6,7] and day_of_week in ['Monday', 'Tuesday', 'Wednesday', 'Thursday']:
        origin_borough = G.nodes[origin].get('Borough')
        destination_borough = G.nodes[destination].get('Borough')

        if origin_borough == 'SI' and destination_borough == 'M':
            congested_pairs_si_man_mon_thur_6_7[(origin, destination)] += ridership

        
top_10_congested_pairs_si_man_mon_thur_6_7 = sorted(congested_pairs_si_man_mon_thur_6_7.items(), key=lambda x: x[1], reverse=True)[:10]
for (origin, destination), ridership in top_10_congested_pairs_si_man_mon_thur_6_7:
    print('Origin Station ID: ' + str(origin) + ', Destination: ' + str(destination))

Empty because there are no rides associated with State Island